# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.BoggedPrice.iml
# Datasource local storage ignored files
/../../../../../../../:\dev\discord\BoggedPrice\.idea\.idea.BoggedPrice\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
